services/java/ip.txt
frontend/js/src/main/resources/bundle.js
apps/jupyter/.ipynb_checkpoints/
apps/jupyter/local/
.idea/
*.tgz
*.tar.gz
*.zip
*.jar
*.war
*.iml
.classpath
.project
target/
node_modules/
.idea/
.settings/
attic/
docker-compose.override.yml
/kafka/
/cassandra/
/bitcore/
apps/bitcore/server.pid
.machine
apps/spark/project/repo
apps/spark/project/boot
services/ssh/id_rsa
services/ssh/id_rsa.pub
apps.tar
project/repo/
project/boot/
project/atom/
project/ivy2/
bin/sbt-launch.jar
.ensime
.ensime_cache/
apps/jupyter/magrathea
